@keyframes CodeLinePulse {
    0% {
    opacity: 1;
    }
    45% {
    opacity: 1;
    }
    50% {
    opacity: 0;
    }
    95% {
    opacity: 0;
    }
}

/* main */
.main {
    background-color: rgb(248, 247, 239);
    width: 100vw;
    height: 100vh;
    position: relative;

}
.main__header {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-weight: 100;
}
.main__heading-primary {
    margin-bottom: 2rem;
}
.main__heading-sub {
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
}
.main__heading-sub::after,
.main__heading-sub::before {
    content: "1";
    position: absolute;
    width: 20px;
    height: 20px;
    color: rgb(121, 121, 121);
    left: -6rem;
}
.main__heading-sub::before {
    content: "2";
    bottom: -2rem;
}
.code-line {
    position: absolute;
    bottom: -2rem;
    opacity: 1;
    animation: CodeLinePulse 1s infinite;
}
@media only screen and (max-width: 900px) {
    .main__header {
        top: 60%;
        right: 52%;
    }
    .main__heading-sub {
        font-size: 1rem;
    }
    .main__heading-sub::after,
    .main__heading-sub::before {
        content: "1";
        position: absolute;
        width: 20px;
        height: 20px;
        color: rgb(121, 121, 121);
        left: -2rem;
    }
    .main__heading-sub::before {
        content: "2";
        bottom: -2rem;
    }
}