/* main */
.project {
    background-color: rgb(255, 255, 255);
    box-shadow: -2px -1px 1rem rgba(0, 0, 0, 0.226);
    height: 90vh;
    display: grid;
    grid-template-rows: 8fr 1fr 2fr 2fr;
    grid-row-gap: 2rem;
    margin: 6rem 12rem;
    text-align: center;
}
.project__title {
    letter-spacing: .2rem;
}
.project__description {
    color: rgb(134, 134, 134);
}
.project__img-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    grid-template-columns: 40% 20% 40%;
    background-color: rgb(253, 253, 253);
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.project__image {
    height: 85%;
}
.project__image-left {
    justify-self: flex-end;
}
.project__image-center {
    height: 105%;
    justify-self: center;
    align-self:   center;
}

.btn-container {
    align-self: flex-start;
}